html{
    display: flex;
    font-size: 24px;
    line-height: 2.0;
    color: #333;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #2c3e50;
}

p {
    margin: 0 0 1em;
}



.birdCard:hover {
    transform: scale(1.5);
    transition: transform 1s ease-in;
}

.birdCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px;
    height:auto;
    width: auto;
}

.birdCard {
    display:flex;
    flex-direction: column;
    background-color: green;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 30px 20px 30px black;
    max-width:25%;
    text-align: center;
}

.birdCard img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
}



@media only screen and (max-width: 800px) {

    html {
        font-size: 16px;
    }
  

    .birdCard:hover {
    transform: scale(1.5);
    transition: transform 1s ease-in;
}

    .birdCard img {
        margin-left: 25px;
        width: 300px;
        height: 300px;
    }

    .birdCard {
        max-width: 70%;
        height: auto;   
    }

    .birdCards {
        display:block;
        flex-wrap: wrap;
        width: auto;
    }
}

@media only screen and (max-width: 500px) {
    

    html {
        font-size: 16px;
    }

    .birdCard:hover {
    transform: scale(1.5);
    transition: transform 1s ease-in;
}

    .birdCard img {
        width: 150px;
        height: 150px;
    }

    .birdCard {
        max-width: 20%;
        height: auto;   
    }

    .birdCards {
        display:block;
        flex-wrap: wrap;
        width: auto;
    }
}
