html{
    display: flex;
    font-size: 24px;
    line-height: 2.0;
    color: #333;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #2c3e50;
}

p {
    margin: 0 0 1em;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin: 10px;
}

.image-container img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.birdCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px;
    height:auto;
    width: 1800px;
}

.birdCard {
    display:flex;
    flex-direction: column;
    background-color: green;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 30px 20px 30px black;
    max-width:20%;
    text-align: center;
}

.birdCard img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

@media only screen and (max-width: 1025px) {

    html {
        font-size: 16px;
    }
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .image-container img {
        width: 100px;
        height: 100px;
    }

    .birdCard img {
        width: 400px;
        height: 400px;
    }

    .birdCard {
        max-width: 40%;
        height: auto;   
    }

    .birdCards {
        display:block;
        flex-wrap: wrap;
        width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .image-container img {
        width: 80px;
        height: 80px;
    }

    html {
        font-size: 16px;
    }
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .birdCard img {
        width: 400px;
        height: 400px;
    }

    .birdCard {
        max-width: 40%;
        height: auto;   
    }

    .birdCards {
        display:block;
        flex-wrap: wrap;
        width: 1000px;
    }
}